@font-face {
  font-family: "Chivo";
  src: url("Chivo-VariableFont_wght.ttf");
  font-weight: 100 1000;
}

@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 100 1000;
  src: url("Chivo-Italic-VariableFont_wght.ttf");
}
